button[type="submit"] {
  display: block;
  background: #1abc9d;
  padding: 12px;
  width: 314px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: 15px auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s ease;
}
