<style>
  /* Below line is used for online Google font */

  @import url(//fonts.googleapis.com/css?family=Droid+Serif);
  h2 {
    text-align: center;
    font-size: 24px;
  }

  hr {
    margin: 30px auto;
  }

  div.container {
    /*width: 960px;
    height: 610px;
    display: flex;
    justify-content: center;*/
    margin:0 auto;

    font-family: 'Droid Serif', serif;
    position: relative;
  }

  div.main {
    width: 320px;
  /*  float: center;*/
    padding: 10px 55px 40px;
    margin:  auto;
    background-color: #D7DBDD  ;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;

  }

  input[type=text],
  [type=password] {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px #fffFF;
    border: 2px solid #fffff;
    color: #4f4f4f;
    font-size: 16px;
  }

  label {
    color: ##BFC9CA;
    /*text-shadow: 0 1px 0 #fff; */
    font-size: 14px;
    font-weight: bold;
  }

  #register {
    font-size: 20px;
    margin-top: 15px;
    background: #839192    ;
    border: 1px;
    padding: 7px 35px;
    color: white;
    text-shadow: 0px 1px 0px #13506D;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
  }

  #register:hover {
    background: linear-gradient(#839192  5%, #4D5656    100%);
  }
</style>
