<style>
.notify {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.notify .notifytext {
    /*visibility: hidden;*/
    width: 460px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;

    position: absolute;
    z-index: 1;


}

.notification {
    position:absolute;
    right:20px;
    top:20px;
    background-color:red;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
}
</style>

<div class="notify" onclick="showPopButton(0)">
  <span class="notifytext" id="myPopup">New Editor Comment!
    <div class="notification">17</div>
  </span>
</div>
